
Template_v1.lbx
brother-label-printer.zip
fonts/New folder/transfonter.org-unpack-20230602-004928.zip
fonts/Noto_Sans_JP.zip
fonts/NotoSansJP-VariableFont_wght.ttf
fonts/OFL.txt
fonts/README.txt
fonts/static/NotoSansJP-Black.ttf
fonts/static/NotoSansJP-Bold.ttf
fonts/static/NotoSansJP-ExtraBold.ttf
fonts/static/NotoSansJP-ExtraLight.ttf
fonts/static/NotoSansJP-Light.ttf
fonts/static/NotoSansJP-Medium.ttf
fonts/static/NotoSansJP-Regular.ttf
fonts/static/NotoSansJP-SemiBold.ttf
fonts/static/NotoSansJP-Thin.ttf
